### Apriori Algorithm

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
dataset=[["Bread","Milk","Beer"],["Bread","Diapers","Eggs"],["Milk","Diapers","Beer","Cola"],["Bread","Milk","Diapers","Beer"],["Bread","Milk","Cola"]]
dataset

[['Bread', 'Milk', 'Beer'],
 ['Bread', 'Diapers', 'Eggs'],
 ['Milk', 'Diapers', 'Beer', 'Cola'],
 ['Bread', 'Milk', 'Diapers', 'Beer'],
 ['Bread', 'Milk', 'Cola']]

In [11]:
te=TransactionEncoder()
te=te.fit(dataset)   #Read all unique items
te_ary=te.transform(dataset)  # creates a matrix
print(te.columns_)
print(te_ary)

['Beer', 'Bread', 'Cola', 'Diapers', 'Eggs', 'Milk']
[[ True  True False False False  True]
 [False  True False  True  True False]
 [ True False  True  True False  True]
 [ True  True False  True False  True]
 [False  True  True False False  True]]

In [15]:
df=pd.DataFrame(te_ary,columns=te.columns_)
#df=pd.DataFrame(te_ary,columns=te.columns_)
df

    Beer  Bread   Cola  Diapers   Eggs   Milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [55]:
#filter products
frequent_itemsets=apriori(df,min_support=0.4,use_colnames=True)
frequent_itemsets

    support               itemsets
0       0.6                 [Beer]
1       0.8                [Bread]
2       0.4                 [Cola]
3       0.6              [Diapers]
4       0.8                 [Milk]
5       0.4          [Beer, Bread]
6       0.4        [Beer, Diapers]
7       0.6           [Beer, Milk]
8       0.4       [Bread, Diapers]
9       0.6          [Bread, Milk]
10      0.4           [Cola, Milk]
11      0.4        [Diapers, Milk]
12      0.4    [Beer, Bread, Milk]
13      0.4  [Beer, Diapers, Milk]

In [56]:
#Evaluate items with good support and confidence = 0.5
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets,metric="confidence",min_threshold=0.5)
rules

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bread),(Beer),0.8,0.6,0.4,0.500000,0.833333,-0.08,0.800000
1,(Beer),(Bread),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.600000
2,(Diapers),(Beer),0.6,0.6,0.4,0.666667,1.111111,0.04,1.200000
3,(Beer),(Diapers),0.6,0.6,0.4,0.666667,1.111111,0.04,1.200000
4,(Milk),(Beer),0.8,0.6,0.6,0.750000,1.250000,0.12,1.600000
5,(Beer),(Milk),0.6,0.8,0.6,1.000000,1.250000,0.12,inf
6,(Diapers),(Bread),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.600000
7,(Bread),(Diapers),0.8,0.6,0.4,0.500000,0.833333,-0.08,0.800000
8,(Milk),(Bread),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.800000
9,(Bread),(Milk),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.800000
10,(Milk),(Cola),0.8,0.4,0.4,0.500000,1.250000,0.08,1.200000
11,(Cola),(Milk),0.4,0.8,0.4,1.000000,1.250000,0.08,inf
12,(Diapers),(Milk),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.600000
13,(Milk),(Diapers),0.8,0.6,0.4,0.500000,0.833333,-0.08,0.800000
14,"(Milk, Bread)",(Beer),0.6,0.6,0.4,0.666667,1.111111,0.04,1.200000
15,"(Bread, Beer)",(Milk),0.4,0.8,0.4,1.000000,1.250000,0.08,inf
16,"(Milk, Beer)",(Bread),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.600000
17,(Bread),"(Milk, Beer)",0.8,0.6,0.4,0.500000,0.833333,-0.08,0.800000
18,(Milk),"(Bread, Beer)",0.8,0.4,0.4,0.500000,1.250000,0.08,1.200000
19,(Beer),"(Milk, Bread)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.200000
20,"(Diapers, Milk)",(Beer),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
21,"(Diapers, Beer)",(Milk),0.4,0.8,0.4,1.000000,1.250000,0.08,inf
22,"(Milk, Beer)",(Diapers),0.6,0.6,0.4,0.666667,1.111111,0.04,1.200000
23,(Diapers),"(Milk, Beer)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.200000
24,(Milk),"(Diapers, Beer)",0.8,0.4,0.4,0.500000,1.250000,0.08,1.200000
25,(Beer),"(Diapers, Milk)",0.6,0.4,0.4,0.666667,1.666667,0.16,1.800000

## VIP

In [78]:
#rules[rules['antecedent'].apply(lambda x: set(['Milk']).issubset(x))]

CartItem=["Milk"] #Consider current item in cart is milk

#rules["antecedants"].apply(lambda x: set(CartItem).issubset(set(x)))
#rules[rules["antecedants"].apply(lambda x: set(CartItem).issubset(set(x)))]
#print(rules)
#Print possible items customer can buy after milk
rules[rules["antecedants"].apply(lambda x: set(CartItem).issubset(set(x)))]['consequents'].tolist()

[frozenset({'Beer'}),
 frozenset({'Bread'}),
 frozenset({'Cola'}),
 frozenset({'Diapers'}),
 frozenset({'Beer'}),
 frozenset({'Bread'}),
 frozenset({'Beer', 'Bread'}),
 frozenset({'Beer'}),
 frozenset({'Diapers'}),
 frozenset({'Beer', 'Diapers'})]

In [60]:
#Print rules having maximum support
rules[rules['support']==rules['support'].max()]

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.600000
5,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
8,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000
9,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.800000

0    0.6
1    0.6
2    0.6
3    0.6
Name: support, dtype: float64
0     (Milk)
1     (Beer)
2     (Milk)
3    (Bread)
Name: antecedants, dtype: object

In [44]:
a=['Milk','Beer','Egg','Bread']
b=set(a)
print(b,type(b))

{'Egg', 'Bread', 'Milk', 'Beer'} <class 'set'>

### issubset=

In [49]:
items=['Bread','Beer']
#items=['Bread','Beer','Water']
set(items).issubset(b)

True

In [50]:
#symmetric difference
a=set(['Milk','Beer','Eggs'])
b=set(['Milk','Pen'])
a^b

{'Beer', 'Eggs', 'Pen'}

In [54]:
a1=set(['Milk','Beer','Eggs','Water'])
b1=set(['Milk','Eggs'])
print(a1-b1)
print(b1-a1)

{'Water', 'Beer'}
set()